.container {
    width: 90vw;
    height: 90vh;
    background-color: dimgray;
}

.child {
    width: 25vw;
    height: 20vh;
    background-color: rgb(255, 146, 146);
    color: black;
}

.purechild {
    width: 25vw;
    height: 20vh;
    background-color: rgba(116, 141, 255, 0.548);
    color: white;
}