.appContainer {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    background-color: rgb(255, 234, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 4px;
}