.appContainer {
    height: 100vh;
    width: 100vw;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    flex-direction: column;
}

.child {
    background-color: lightcoral;
    color: white;
    margin-top: 16px;
    padding: 8px;
}